<style>
  .noarrow>a:after {
    display: none !important;
  }
</style>

<li ng-show="fullscreen">
  <a ng-click="exitFullscreen()">
    Back to dashboard
  </a>
</li>

<li class="grafana-menu-zoom-out">
  <a class='small' ng-click='zoom(2)'>
    Zoom Out
  </a>
</li>

<li ng-repeat="pulldown in dashboard.nav" ng-controller="PulldownCtrl" ng-show="pulldown.enable"><grafana-simple-panel type="pulldown.type" ng-cloak></grafana-simple-panel></li>

<li class="dropdown grafana-menu-load" ng-controller="SearchCtrl" ng-init="init()" ng-include="'app/partials/search.html'">
</li>

<li class="grafana-menu-home"><a bs-tooltip="'Goto saved default'" data-placement="bottom" href='#/'><i class='icon-home'></i></a></li>
